.cards-information {
    padding: 10px;
}

.cards-information h2{
    color: white;
    letter-spacing: 1px;
    min-height: 50px;
    margin: 10px 0;
}
.buttons-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
