a{
    text-decoration: none;
    color: white;
}

.fan-favorite{
font-size: 1.8rem;
display: inline-block;
}

h1{
    margin: 1rem 0;
}

h4{
    margin: 10px 0;
    color: rgba(255, 255, 255, 0.7);
}

.fan-favorite-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.fan-favorite h1::before{
    border: solid 4px #f5c518;
    margin-right: 10px;
    border-radius: 10px;
    content: "";
}