* {
  box-sizing: border-box;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.App {
  margin: 0 2em;
  background-color: #1f1f1f;
}

#root {
  background-color: #1f1f1f;
  height: 100vh;
}

html {
  background-color: #1f1f1f;
}
